


	Voici, comment contacter l'equipe:

 </h2>
<p> c'est cool!! Appelle juste ce numéro: </br>
032 000 00 00 </br>
 et 033 02 000 00 00

</p>


<form action="/bienvenue" method="POST">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
	<input type="text" name="first_name" value="tonie">
	<input type="submit" name="valider">
</form>>
