// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color: red;
}

h1{
	text-align: center;
	color: green;
	font-size: 12px;
	font-family: Verdana;

}

p{
	font-size: 30px;
	font-family: Arial;
	text-align: center;
}