// Place all the styles related to the team controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	background-color: #ffe6e6;
}

h1{
	text-align: center;
	color: blue;
	font-size: 1.2em;
	font-family: Verdana;

}

p{
	font-size: 30px;
	font-family: Arial;
	text-align: center;
}